<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.druid.demo.mapper.TbOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.druid.demo.model.TbOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="origin_unit_price" jdbcType="BIGINT" property="originUnitPrice" />
    <result column="pay_price" jdbcType="BIGINT" property="payPrice" />
    <result column="extra_feature" jdbcType="VARCHAR" property="extraFeature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, goods_id, sku_id, quantity, origin_unit_price, pay_price, extra_feature, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.druid.demo.model.TbOrderItem">
    insert into tb_order_item (id, order_no, goods_id, 
      sku_id, quantity, origin_unit_price, 
      pay_price, extra_feature, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{goodsId,jdbcType=BIGINT}, 
      #{skuId,jdbcType=BIGINT}, #{quantity,jdbcType=INTEGER}, #{originUnitPrice,jdbcType=BIGINT}, 
      #{payPrice,jdbcType=BIGINT}, #{extraFeature,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.druid.demo.model.TbOrderItem">
    insert into tb_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="originUnitPrice != null">
        origin_unit_price,
      </if>
      <if test="payPrice != null">
        pay_price,
      </if>
      <if test="extraFeature != null">
        extra_feature,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="originUnitPrice != null">
        #{originUnitPrice,jdbcType=BIGINT},
      </if>
      <if test="payPrice != null">
        #{payPrice,jdbcType=BIGINT},
      </if>
      <if test="extraFeature != null">
        #{extraFeature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.druid.demo.model.TbOrderItem">
    update tb_order_item
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="originUnitPrice != null">
        origin_unit_price = #{originUnitPrice,jdbcType=BIGINT},
      </if>
      <if test="payPrice != null">
        pay_price = #{payPrice,jdbcType=BIGINT},
      </if>
      <if test="extraFeature != null">
        extra_feature = #{extraFeature,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.druid.demo.model.TbOrderItem">
    update tb_order_item
    set order_no = #{orderNo,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      origin_unit_price = #{originUnitPrice,jdbcType=BIGINT},
      pay_price = #{payPrice,jdbcType=BIGINT},
      extra_feature = #{extraFeature,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>